<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %> </title>
</head>
<body>
     <!-- Navigation -->
     <%- include ('../partials/navigation') %>
     <main>       
        <div class="button-area">        
            <form action="/global-cases" method="get">
                <button class="btn btn-primary" type="submit">Global Cases</button>
            </form> 
        </div>
     </main>
    <!-- Footer -->
    <%- include ('../partials/footer') %>
</body>
</html>