<!-- Image and text -->
<div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-brand">
                <img
                    class="img-fluid shadow-5 rounded"
                    style="max-width: 21%"
                    src="covid-log.jpg"
                    height="30"
                    alt=""
                    loading="lazy"
                />
                <span><%= covidGlobal %> </span>
            </div>
        </div>
    </nav>
</div>

