<!-- Image and text -->
<div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-brand">
                <img id="img" class="img-fluid shadow-5 rounded" src="covid-log.jpg" loading="lazy"/>
                <span><%= covidGlobal %> </span>
            </div>
        </div>
    </nav>
</div>

