<div>
    <div class="page-item mt-4">
        <ul id="total-confirmed">
            Total Confirmed Cases: <%= totalConfirmed %>
        </ul>
        <ul id="total-deaths">
            Total Deaths: <%= totalDeaths %>
        </ul>
    </div>
</div>
